<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Barcos</title></head>
<body>
<h1>Barcos</h1>
<table>
  <thead>
    <tr><th>id</th><th>posX</th><th>posY</th><th>velX</th><th>velY</th><th>Abrir</th></tr>
  </thead>
  <tbody>
    <tr th:each="b : ${listadoBarcos}">
      <td th:text="${b.idBarco}"></td>
      <td th:text="${b.posX}"></td>
      <td th:text="${b.posY}"></td>
      <td th:text="${b.velX}"></td>
      <td th:text="${b.velY}"></td>
      <td><a th:href="@{/barco/view/{id}(id=${b.idBarco})}">Abrir</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>
