<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Jugador</title>
</head>
<body>
    <h1>Detalle de Jugador</h1>

    <p><b>ID:</b> <span th:text="${jugador.idJugador}"></span></p>
    <p><b>Nombre:</b> <span th:text="${jugador.nombre}"></span></p>
    <p><b>Usuario:</b> <span th:text="${jugador.usuario}"></span></p>
    <p><b>Rol:</b> <span th:text="${jugador.rol}"></span></p>

    <a th:href="@{/jugador/list}">Volver a la lista</a>
</body>
</html>
