<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jugador List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Listado de Jugadores</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Abrir</th>
            </tr>
        </thead>

        <tbody>
            
            <tr th:each="jugador : ${listadoJugadores}">
                <td th:text="${jugador.nombre}"></td>
                <td th:text="${jugador.usuario}"></td>
                <td th:text="${jugador.rol}"></td>
                <td>
                    <a th:href="@{/jugador/view/{idJugador}(idJugador=${jugador.idJugador})}">
                        Abrir
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
