<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modelos de Barco</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>Modelos de Barco</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Capacidad</th>
        <th>Abrir</th>
      </tr>
    </thead>
    <tbody>
      
      <tr th:each="m : ${listadoModelos}">
        <td th:text="${m.idModelo}"></td>
        <td th:text="${m.nombre}"></td>
        <td th:text="${m.color}"></td>
        <td th:text="${m.capacidad}"></td>
        <td>
         
          <a th:href="@{/modelobarco/view/{id}(id=${m.idModelo})}">Abrir</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p><a th:href="@{/}">Inicio</a></p>
</body>
</html>
